<carousel>
    <slide>
        <img src="assets/images/ball.png" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="assets/images/allstar.jpeg" alt="second slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="assets/images/miami.jpg" alt="third slide" style="display: block; width: 100%;">
    </slide>
</carousel>
<section class="featured">
    <div class="d-flex justify-content-center pt-4">
        <h1>Welcome to the Basket Store!</h1>
    </div>
</section>